html {
  background-color: #FEF1E6;
  background-image: -webkit-linear-gradient(65deg, #D4B499 50%, #FBF8F1 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: black;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #FFC107;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #FFC107;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #FFC107;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}


#cl-div{
  margin-top: 40px;
  position: absolute;
  left: 50px;
  top: 10px;
}

#cl-div button{
  background-color:white !important;
  border-radius: 10% !important;
  font-size: 15px ;
  color: rgb(46, 46, 46) !important;
  text-align: center;
  height: 50px !important;
  width: 80px !important;
  
}
#cl-div button:hover{
  background-color: rgb(201, 201, 201) !important;
}

#cl-div input , #cl-div button{
  font-size: 15px;
  border-radius: 10px;
  padding: 0px !important;
  background-color:white !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 200px;
  height: 50px !important;
}
